* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    width: 100%;
}

@font-face {
    font-family: "Open Sans";
    src: url("https://github.com/danielyan-emma/repo-emma/blob/master/sources/fonts/OpenSans-Regular.woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("https://github.com/danielyan-emma/repo-emma/blob/master/sources/fonts/OpenSans-Bold.woff");
    font-style: normal;
    font-weight: 700;
}

a {
    text-decoration: none;
}

@media (min-width: 961px) {
    .header {
        padding: 45px 80px 110px 80px;
        background-image: url("../img/football_1920.jpg");
        background-color: #0a0e34;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 960px;

        position: relative;
    }


    .header::before {
        content: "";
        position: absolute;
        background-color: rgba(10, 14, 52, 0.9);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 1560px;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }

    .header-slogan {
        position: relative;
        padding-top: 288px;
    }

    .logo {
        width: 188px;
        margin: auto;
        position: relative;
        z-index: 1;
    }

    .title {
        font-size: 5.6vw;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 100px;

        position: relative;
        z-index: 1;
    }

    .title-2 {
        padding-bottom: 220px;
        margin-left: 414px;
    }

    .download-app {
        display: flex;
        justify-content: center;
        position: relative;
        align-item: center;
    }

    .download-link {
        display: flex;
        width: 309px;
        height: 75px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 40px;
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        fill: #ffffff;
        background-color: #5e42b0;
        border: 1px solid #5e42b0;
        border-radius: 40px;
    }

    .download-label {
        align-item: center;
    }

    .device-icon {
        fill: #ffffff;
        display: flex;
        display: flex;
        width: 42px;
        height: 48px;
        background-repeat: no-repeat;
        background-size: 45px;
        background-position: center;
    }

    .download-link:first-child {
        margin-right: 51px;
    }

    .label {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        justify-content: center;
    }

    .label-1 {
        font-weight: 400;
        color: white;
    }

    .label-2 {
        font-weight: 700;
        color: white;
    }

    .visually-hidden {
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
    }

    .main {
        box-sizing: border-box;
    }

    .sport {
        padding: 25px 131px 0 131px;
        display: flex;
    }

    .info {
        padding-top: 90px;
    }

    .athlets {
        margin-left: 88px;
    }

    .players {
        width: 726px;
    }

    .player {
        display: flex;
        width: 566px;
        height: 908px;
    }

    .article {
        display: block;
        width: 717px;
    }

    .article-name {
        font-size: 80px;
        color: #e7e7e7;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 60px;
    }

    .description {
        padding-top: 110px;
    }

    .description:nth-child(3n+3) {
        background-color: #f6f4fa;
        width: 100%;
    }

    .description:nth-child(3n+4) {
        background-color: #5e42b0;
    }

    .num {
        font-size: 18px;
        color: #000000;
        font-weight: 700;
        text-transform: uppercase;
    }

    .info-2::after {
        content: "01";
        display: block;
        width: 19px;
        height: 5px;
        margin-top: 7px;
        background-color: #5e42b0;
        font-size: 18px;
        color: #000000;
        font-weight: 700;
    }

    .people-game::after {
        content: "02";
        display: block;
        width: 19px;
        height: 5px;
        margin-top: 7px;
        background-color: #5e42b0;
        font-size: 18px;
        color: #000000;
        font-weight: 700;
    }

    .subtitle {
        font-size: 36px;
        color: #c1c1c1;
        text-transform: uppercase;
        font-weight: 700;
    }

    .article-info {
        font-size: 20px;
        color: #000000;
        font-weight: 400;
        line-height: 28px;
    }

    .footer {
        background-image: url("../img/game_1920.jpg");
        background-color: #0a0e34;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 960px;

        position: relative;
    }

    .footer::before {
        content: "";
        position: absolute;
        background-color: rgba(10, 14, 52, 0.9);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .main-info {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        position: relative;
    }

    .download {
        width: 130px;
        height: 137px;
        background-color: #7151ce;
        border-radius: 30px;

        position: relative;
    }

    .footer-app {
        display: flex;
    }

    .download-title {
        font-size: 80px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;

    }

    .download-text {
        font-size: 30px;
        color: #a496ca;
        text-transform: uppercase;
        font-weight: normal;
    }

    .footer-logo {
        width: 103px;
        height: 86px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}
